# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn -B package --file pom.xml

    # Optional: Uploads the full dependency graph to GitHub to improve the quality of Dependabot alerts this repository can receive

    - name: Run tests
      run: mvn test
      id: test
    - name: Check test coverage
      run: |
        total_tests=$(grep -Po '<tests>[0-9]*</tests>' target/surefire-reports/TEST-*.xml | grep -Po '[0-9]+')
        successful_tests=$(grep -Po '<tests>[0-9]*</tests>' target/surefire-reports/TEST-*.xml | grep -Po '[0-9]+' | awk '{s+=$1} END {print s}')
        test_coverage=$(awk "BEGIN {print $successful_tests / $total_tests * 100}")
        echo "Test coverage: $test_coverage%"
        if [ "$test_coverage" -lt 90 ]; then
          echo "Tests coverage is less than 90%, exiting..."
          exit 1
        fi
    - name: Merge PR if tests pass
      if: github.event_name == 'pull_request' && steps.test.outcome == 'success'
      run: |
        # Your merging logic here
